<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Banner"
        tools:targetApi="31" >

        <activity android:name=".frontend.views.admin.Admin"
            android:theme="@style/Theme.Banner" />

        <activity android:name=".frontend.views.student.Student"
            android:theme="@style/Theme.Banner" />

        <activity android:name=".frontend.views.teacher.Teacher"
            android:theme="@style/Theme.Banner" />

        <activity android:name=".frontend.views.course.Course"
            android:theme="@style/Theme.Banner" />

        <activity android:name=".frontend.views.register.Register"
            android:theme="@style/Theme.Banner" />

        <activity android:name=".frontend.views.career.Career"
            android:theme="@style/Theme.Banner" />

        <activity android:name=".frontend.views.semester.Semester"
            android:theme="@style/Theme.Banner" />

        <activity android:name=".frontend.views.group.Group"
            android:theme="@style/Theme.Banner" />

        <activity android:name=".frontend.views.enrollment.Enrollment"
            android:theme="@style/Theme.Banner" />

        <activity android:name=".frontend.views.user.User"
            android:theme="@style/Theme.Banner" />

        <activity android:name=".frontend.views.career.EditCareerActivity" />

        <activity android:name=".frontend.views.student.EditStudentActivity" />

        <activity android:name=".frontend.views.teacher.EditTeacherActivity" />

        <activity android:name=".frontend.views.semester.EditSemesterActivity" />

        <activity android:name=".frontend.views.course.EditCourseActivity" />

        <activity android:name=".frontend.views.enrollment.EditEnrollmentActivity" />

        <activity android:name=".frontend.views.user.EditUser" />

        <activity android:name=".frontend.views.group.EditGroupActivity" />

        <activity android:name=".frontend.views.career.AddCareer" />

        <activity android:name=".frontend.views.semester.AddSemester" />

        <activity android:name=".frontend.views.course.AddCourse" />

        <activity android:name=".frontend.views.student.AddStudent" />

        <activity android:name=".frontend.views.group.AddGroup" />

        <activity android:name=".frontend.views.enrollment.AddEnrollment" />

        <activity android:name=".frontend.views.teacher.AddTeacher" />

        <activity android:name=".frontend.views.user.AddUser" />

        <activity android:name=".frontend.views.login.login" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Banner" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>