<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Banner"
        tools:targetApi="31" >

        <activity android:name=".Admin"
            android:theme="@style/Theme.Banner" />

        <activity android:name=".Student"
            android:theme="@style/Theme.Banner" />

        <activity android:name=".Professor"
            android:theme="@style/Theme.Banner" />

        <activity android:name=".Course"
            android:theme="@style/Theme.Banner" />

        <activity android:name=".Register"
            android:theme="@style/Theme.Banner" />

        <activity android:name=".Career"
            android:theme="@style/Theme.Banner" />

        <activity android:name=".Ciclo"
            android:theme="@style/Theme.Banner" />

        <activity android:name=".Group"
            android:theme="@style/Theme.Banner" />

        <activity android:name=".Enrollment"
            android:theme="@style/Theme.Banner" />

        <activity android:name=".User"
            android:theme="@style/Theme.Banner" />

        <activity android:name=".EditCareerActivity" />

        <activity android:name=".EditStudentActivity" />

        <activity android:name=".EditProfessorActivity" />

        <activity android:name=".EditCicloActivity" />

        <activity android:name=".EditCourseActivity" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Banner" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>